body, html {
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

.top-header{
    background: url("../images/dist/bg.jpg") center top no-repeat ;
    background-size: cover; 
    height: 100%;
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    z-index: 0;
    position: relative;
}
.top-header>*{
    z-index: 2;
}
.top-header::after{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    opacity: .2;
    z-index: 1;
}
.top-header__text{
    padding:0px 204px;
}
.top-header__text:nth-child(2n){
    text-align: right;
    color: $color_2;
    margin: left;
}
.top-header__button{
    display: block;
    height: 70px;
    width: 300px;
    border-radius: 40px;
    background: linear-gradient(90deg, #FFFF00 0%, rgba(255, 255, 255, 0.7) 50%, #FFFF00 100%); 
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.47);
    font-size: 24px;
    color: $color_2;
    margin:0 auto;
    text-align: center;
    transition: all .5s linear ; 
    line-height: 70px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.top-header__button:active,.top-header__button:hover{
    background: linear-gradient(90deg, #FFFF00 0%, rgba(255, 255, 255, 0.5) 50%, #FFFF00 100%); 
    color: $color_2;
}
.top-header__accent{
    color: $accent;
}
.top-header__modal-window {
    width: 500px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: $color_1 ;
    display: none;
    box-shadow: 0 0 10px #000;
}
.top-header__text-modal-window{
    font-size: 30px;
    background-color: $accent;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    color: $color_2;
    line-height: 2;
    border-bottom: 2px solid $color_2;
}
.top-header__card-modal-window{
    color: $color_2;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}
.top-header__modal-window__close-button{
    width: 40px;
    height: 40px;
    border-radius: 50% ;
    border: 3px solid $color_1;
    background-color: $color_1;
    position: absolute;
    top:-10px;
    right:-10px;
    box-shadow: 0 0 10px #000;
    display: block;
    text-decoration: none;
}
.top-header__modal-window__close-button:before, .top-header__modal-window__close-button:after {
    position: absolute;
    left: 16px;
    top: 2px;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color: lighten($color_2, 50%); 
    transition: transform 1s, background-color .5s;
  }
.top-header__modal-window__close-button:hover:before, .top-header__modal-window__close-button:hover:after {
    background-color: $color_2;
  }
.top-header__modal-window__close-button:before {
    transform: rotate(45deg);
  }
.top-header__modal-window__close-button:hover:before {
    transform: rotate(135deg);
}
.top-header__modal-window__close-button:after {
    transform: rotate(-45deg);
}
.top-header__modal-window__close-button:hover:after {
    transform: rotate(45deg);
}
    